$lip: 64px;
$duration: 0.3s;
$break: 1024px;
$navbar-height: 48px;

@mixin from-breakpoint($mark: $break) {
  @media (min-width: $mark) {
    @content;
  }

  .lt-ie9 & {
    @content;
  }
}

@mixin up-to-breakpoint($mark: $break) {
  @media (max-width: $mark) {
    @content;
  }
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

.canvas {
  position: relative;

  background: #34495e;

  @include up-to-breakpoint {
    overflow: hidden;
    height: 100%;
  }
}

.pusher {
  @include up-to-breakpoint {
    height: 100%;

    transition: all $duration;
    perspective: 1200px;
    transform-style: preserve3d;

    &.is-pushed.fold-back {
      transform: translateX(100%) translateX(-($lip));
    }
  }
}

.scroller {
  @include up-to-breakpoint {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.scroller-inner {

}

.navbar {
  height: $navbar-height;

  line-height: $navbar-height;
  text-align: center;
  font-weight: 700;
  color: #933e39;

  background: #fd6a62;

  @include up-to-breakpoint {

  }

  @include from-breakpoint {
    position: fixed;
    z-index: 1;

    width: 100%;
    top: 0;
    left: 0;
  }
}

.main {
  position: relative;

  @include up-to-breakpoint {
    box-sizing: border-box;
    height: 100%;

    background: #7bb7fa;

    .is-pushed.fold-back & {
      transform: rotateY(45deg);
    }

    .drop-back & {
      transition: all $duration;
      transform-origin: top right;
      animation-fill-mode: forwards;
    }

    .is-pushed.drop-back & {
      // animation: drop-back ($duration * 3) / 2;
      transform: translateZ(-100px);
    }
  }

  @include from-breakpoint {
    padding-top: $navbar-height;
    margin-left: 300px;
    background: #60d7a9;
  }
}

.aside {
  box-sizing: border-box;
  position: absolute;

  background: #fdc162;

  @include up-to-breakpoint {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: all $duration;

    .is-pushed.drop-back & {
      transform: translateX(0);
    }

    &:after {
      content: '';

      position: absolute;
      visibility: hidden;
      z-index: -1;
      top: 0;
      // right: -100%;
      bottom: 0;
      left: 100%;
      opacity: 0;

      background: rgba(0, 0, 0, 0.5);

      transition: opacity $duration,
                  visibility 0 linear $duration;

      .is-pushed & {
        visibility: visible;
        opacity: 1;

        transition: opacity $duration,
                    visibility 0 linear;

      }
    }
  }

  @include from-breakpoint {
    position: fixed;
    overflow-y: scroll;
    width: 300px;
    top: $navbar-height;
    left: 0;
    bottom: 0;
  }
}

.some-other-content-container {
  padding: 0 1em 1em;
}

@keyframes drop-back {
  0% {
    transform: translateZ(0) rotateY(0);
  }

  50% {
    transform: translateZ(0) rotateY(-10deg);
  }

  100% {
    transform: translateZ(-100px) rotateY(0deg);;
  }
}
